
.formattextbox {
    white-space: pre-wrap;
}




.othernav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.othernavli {
    list-style: none;
    width: fit-content;
    padding: 10px;
    margin-right: 10px;
    border-left: 0px solid #ECECEC;
    border-top: 0px solid #ECECEC;
    border-right: 0px solid #ECECEC;
    border-bottom: 0px solid #ECECEC;
}

